<mat-list *ngFor="let episode of listEpisodes">
  <mat-list-item style="height: 5rem; display: grid;">
    <mat-panel-title style="margin-right: auto;">
      {{episode.episode}}
    </mat-panel-title>
    <mat-panel-description style="margin-left: auto; margin-right: auto;">
      {{episode.name}}
    </mat-panel-description>
    <mat-panel-description style="margin-left: auto;">
      {{episode.air_date}}
    </mat-panel-description>
    <button mat-raised-button color="warn" (click)="goToEpisodeCharacters(episode.characters)" style="margin-left: auto; color: orange;"> 👤</button>
  </mat-list-item>

  <mat-divider></mat-divider>
</mat-list>