<mat-toolbar color="primary" class="menu">
  <div class="titleApp">RICK & MORTYS</div>
  <mat-form-field class="searchInput">
    <input matInput #searchInput placeholder="Seach your character" value="Rick">
  </mat-form-field>

  <mat-form-field class="searchCategories">
    <mat-label>Categories</mat-label>
    <mat-select>
      <mat-option *ngFor="let category of categories" [value]="category.id">
        {{category.name}}
      </mat-option>

    </mat-select>
  </mat-form-field>
</mat-toolbar>

<div class="container">
  <div class="container-cards">
    <mat-card class="card" *ngFor="let card of cards">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{card.name}}</mat-card-title>
        <mat-card-subtitle>{{card.gender}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="card.image" [alt]="card.name">
      <mat-card-content>
        <p>
          {{card.location.name}}
        </p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
</div>