<mat-toolbar color="primary" class="menu">
  <div class="menu__titleApp">RICK & MORTYS</div>
  <mat-form-field class="menu__searchInput">
    <input matInput #searchInput [placeholder]="mode.message" value="">
  </mat-form-field>
  <mat-slide-toggle color="warn" class="menu__mode" (click)="changeMode()"> <span class="menu__mode"> Search Mode </span></mat-slide-toggle>
</mat-toolbar>

<div class="container">
  <app-character class="container-characters" *ngIf="!mode.flag && cardsCharacter" [cardsCharacter]="cardsCharacter">
  </app-character>
  <app-episode *ngIf="mode.flag && listEpisodes" class="container-episodes" (oCharacters)="getCharactersByEpisodeLE($event)" [listEpisodes]="listEpisodes">
  </app-episode>
  <mat-paginator *ngIf="paginator" class="paginator" [length]="paginator.count" [pageSize]="20" (page)="getPage($event)" [hidePageSize]="true">
  </mat-paginator>
</div>