/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import './styles/colors';

@include mat-core();

@include angular-material-theme($my-app-theme);
// comentario

html, body { height: 100%; max-width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
  box-sizing: border-box;
}


$phone: 480px;
$landscape: 780px;
$tablet: 980px;

@mixin respond-to($media) {
  @if $media == $phone {
    @media only screen and (max-width: $phone) { @content; }
  }
  @else if $media == $landscape {
    @media only screen and (min-width: $phone - 1) and (max-width: $landscape + 1) { @content; }
  }
  @else if $media == $tablet {
    @media only screen and (min-width: $landscape - 1) and (max-width: $tablet + 1) { @content; }
  }
}

.menu {
  max-width: 100%;
  height: 4rem;
 // display: flex;
 // justify-content: space-between;
  display: grid !important;
  grid-template-areas: "a b c";
  
  @include respond-to($tablet){
    flex-gap: 1rem;
  }

  @include respond-to($landscape){
    flex-gap: .5rem;
  }

  @include respond-to($phone) {
   
    height: max-content;
  }

  &__titleApp {
    grid-area: a;
    color: orange;
    margin-bottom: auto;
    margin-top: 1rem;
   @include respond-to($phone){
     justify-self: center;
     margin: 0;
   }
  }
  &__searchInput {
    grid-area: b;
    margin-bottom: auto;
    margin-top: -.1rem;
    @include respond-to($phone){
      margin-top: -2.3rem;
      font-size: medium;
    }
   // margin: 1rem, auto;
  }
  &__mode {  
    grid-area: c;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font-size: medium;
    color: orange;

    .mat-slide-toggle-label {
      justify-content: flex-end;
    }

    @include respond-to($phone){
      font-size: small;
      margin-top: -2rem;
      margin-bottom: 1rem;
      justify-self: center;
    }
   // margin: auto, 1rem;
  }
}
.container {

  max-width: 100%;
  padding: 1rem;

  @include respond-to($landscape){
    padding: 1em;
    margin: 0;
  }

  @include respond-to($phone){
    padding: 0;
    margin: 0;
  }
}
.container-characters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;


  @include respond-to($tablet){
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }

  @include respond-to($landscape){
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem;
  }

  @include respond-to($phone){
    padding: 0;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}
.container-episodes {
  min-width: 100%;
  // display: grid;
  // grid-gap: 1.5rem;
  // grid-template-columns: repeat(1fr);
}
.list {
  display: flex;
  background-color: orangered;
}

